@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box !important;
    margin: 0% !important;
    padding: 0% !important;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%); /* Change to -50% for seamless effect */
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite; /* Adjust duration as needed */
}

.custom-carousel .slick-arrow.slick-prev,
.custom-carousel .slick-arrow.slick-next {
  color: #000 !important;
  font-size: 24px !important;
  transform: scale(2) !important;
  z-index: 1 !important;
}

.custom-carousel .slick-arrow.slick-prev {
  left: 20px !important; /* Add more space from left edge */
}

.custom-carousel .slick-arrow.slick-next {
  right: 20px !important; /* Add more space from right edge */
}

.custom-carousel .slick-arrow.slick-prev:hover,
.custom-carousel .slick-arrow.slick-next:hover {
  color: #f39c12 !important;
}
