@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box !important;
    margin: 0% !important;
    padding: 0% !important;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-25%); /* Change to -50% for seamless effect */
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite; /* Adjust duration as needed */
}

.custom-carousel .slick-arrow {
 color: #000 !important;
  
}

.custom-carousel .slick-arrow:hover {
  color: #f39c12; /* Change color on hover, if desired */
}
